<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
<ngx-spinner type="ball-scale-multiple" size="medium">
    <p style="color: black"> Working... </p>
</ngx-spinner>


<!-- <body ng-controller="DashboardController"> -->

<div class="d-flex">
    <!-- Sidebar -->
    <div class="sidebar p-3" style="min-width: 15%; max-width: 100%;">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="me-4 fs-1">Agent-X</h4>
            <button class="btn btn-outline-primary btn-small">
                <i class="bi bi-list"></i>
            </button>
        </div>

        <ul *ngIf="loggedIn" class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
            id="menu">
            <li class="nav-item">
                <a href="#" class="nav-link align-middle px-0">
                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                </a>
            </li>
            <li>
                <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Swap</span>
                </a>
            </li>
        </ul>
        <hr>

        <div class="fixed-bottom">
            <hr>

            <div class="dropdown pb-4" ngbDropdown *ngIf="loggedIn">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                    id="dropdownUser1" ngbDropdownToggle data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{ user?.photoUrl }}" alt="no photo" width="30" height="30" class="rounded-circle">
                    <span class="d-none d-sm-inline mx-1">{{ user?.name??'No Name' }}</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" ngbDropdownMenu>
                    <li ngbDropdownItem><a class="dropdown-item" [routerLink]="['/wallet']">Wallet</a></li>
                    <li ngbDropdownItem><a class="dropdown-item" href="#">Settings</a></li>
                    <li ngbDropdownItem><a class="dropdown-item" href="#">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li ngbDropdownItem><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div>
        </div>


    </div>

    <!-- Main Content -->
    <div class="content flex-grow-1">
        <div ng-view>
            <router-outlet></router-outlet>
        </div>
    </div>
    <!-- </div> -->