# PORT
PORT = 3000

# DATABASE
SQLITE_DB_FILE=db.sq3

# TOKEN
SECRET_KEY = secretKey

ENCRYPTION_KEY=fd

# LOG
LOG_FORMAT = combined
LOG_DIR = ../logs

# CORS
ORIGIN = your.domain.com
CREDENTIALS = true



MISTRAL_API_KEY  = Mb
OPENAI_API_KEY=eyJhbGci
HYPERBOLIC_API_KEY=ey
WALLET_PRIVATE_KEY=0xb

GOOGLE_OAUTH_CLIENT_ID=80
GOOGLE_OAUTH_CLIENT_SECRET=GO
