/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


body {
    background-color: #f8f9fa;
    /* Light background */
}

.sidebar {
    height: 100vh;
    /* Full height */
    background-color: #343a40;
    /* Dark sidebar */
    color: white;
}

.sidebar a {
    color: white;
}

.sidebar a:hover {
    background-color: #495057;
}

.content {
    padding: 20px;
}