<!-- <div>
    <button (click)="test()">Test</button>
</div> -->

<div class="container" *ngIf="!userService.isLoggedIn" >
    <div class="row"> 
        <div class="col d-flex justify-content-center align-items-center" style="height: 80vh; ">
            <div >
                <asl-google-signin-button type='standard' size='medium' class="mx-1"></asl-google-signin-button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="userService.isLoggedIn" class="chat-container d-flex flex-column position-relative" style="height: 96vh; overflow: hidden;">
    <!-- Chat Messages (Scrollable) -->
    <div class="chat-messages flex-grow-1 overflow-auto p-3">
        <div *ngFor="let msg of messagesToBeShownToUsers" class="d-flex mb-2" 
            [ngClass]="{'justify-content-end': msg.role === 'user', 'justify-content-start': (msg.role === 'assistant'||msg.role === 'agentX')}">
            <div class="message-bubble p-2 rounded"
                [ngClass]="{'user-message': msg.role === 'user', 'assistant-message': (msg.role === 'assistant'||msg.role === 'agentX')}">
                <p class="bg-chat-box px-3 py-2 fs-6">{{ msg.content }}</p>
            </div>
        </div>
    </div>

    <!-- Chat Input (Fixed at Bottom of Chat Section) -->
    <div class="chat-input p-3 border-top w-100">
        <div class="container">
            <div class="input-group">
                <textarea type="text" rows="3" class="form-control form-control-md" [placeholder]="promptPlaceholder"
                    [formControl]="promptInput"> </textarea>
                <button class="btn btn-dark" type="button" (click)="sendPrompt()">
                    <i class="bi bi-send"></i>
                </button>
            </div>
        </div>
    </div>
</div>